.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html {
  margin: 0px;
  padding: 0px;
  background-color: rgba(20, 235, 217, 0.356);
}


.header{
  margin-top: 0px;
  padding: 20px;
  
  text-align: center;
  font-size: 40px;
  font-style: italic;
  background-color: rgb(211, 32, 211);
}

.form{
  margin-left: 20px;
  float: left;
}

.list {
  margin: 20px 0px 0px 0px;
  padding: 15px;
  background-color: rgb(128, 252, 124);
  font-family: Marker Felt, fantasy;
  font-size: 25px;
}

.pic{
  padding: 150px 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: 100%;
  width: 150px;
  background-image: url(Harlan.jpg);
  background-repeat: no-repeat;
  float: left;

}
.ratings{
  float: center;
}
p {
 font-size: 30px;
 font-weight: bold;
 font-family: American Typewriter, serif;
 
}